USE [Young-Artists]
GO
/****** Object:  Table [dbo].[administrators]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrators](
	[administrator_id] [int] IDENTITY(1,1) NOT NULL,
	[administrator_account] [nvarchar](50) NULL,
	[administrator_password] [nvarchar](50) NULL,
	[administrator_creat_timestamp] [nvarchar](50) NULL,
	[administrator_update_timestamp] [nvarchar](50) NULL,
 CONSTRAINT [PK_管理員] PRIMARY KEY CLUSTERED 
(
	[administrator_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[advertisement]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[advertisement](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[advertisement_id] [int] NULL,
	[advertisement_name] [nvarchar](50) NULL,
	[advertisement_src] [nchar](100) NULL,
	[advertisement_alt] [nchar](100) NULL,
	[advertisement_href] [nchar](100) NULL,
	[advertisement_startdate] [nvarchar](50) NULL,
	[advertisement_enddate] [nvarchar](50) NULL,
	[company_id] [int] NULL,
	[event_id] [int] NULL,
	[advertisement_online] [bit] NULL,
 CONSTRAINT [PK_Advertisement] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[announcement]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[announcement](
	[aid] [int] NOT NULL,
	[announcement_type] [nvarchar](20) NULL,
	[content_title] [nvarchar](50) NULL,
	[content_time] [nvarchar](50) NULL,
	[content] [nvarchar](500) NULL,
	[details_id] [char](1) NULL,
 CONSTRAINT [PK_announcement] PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[commodity]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[commodity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[commodity_name] [nvarchar](50) NULL,
	[commodity_narrative] [nvarchar](500) NULL,
	[commodity_num] [int] NULL,
	[commodity_price] [money] NULL,
	[commodity_image] [nvarchar](50) NULL,
	[commodity_start] [nvarchar](50) NULL,
	[commodity_sort] [int] NULL,
	[commodity_sale] [int] NULL,
	[commodity_Classification] [nvarchar](50) NULL,
	[commodity_state] [bit] NULL,
 CONSTRAINT [PK_commodity] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NULL,
	[company_name] [nchar](50) NULL,
	[company_phone] [nchar](50) NULL,
	[company_address] [nchar](50) NULL,
	[company_email] [nchar](50) NULL,
	[company_online] [bit] NULL,
 CONSTRAINT [PK_Corporation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contactPerson]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactPerson](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contactperson_name] [nchar](50) NULL,
	[contactperson_title] [nchar](50) NULL,
	[contactperson_phone] [nchar](50) NULL,
	[contactperson_email] [nchar](50) NULL,
	[company_id] [int] NULL,
	[contactperson_online] [bit] NULL,
 CONSTRAINT [PK_ContactPerson] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](50) NULL,
	[customer_email] [nvarchar](50) NULL,
	[customer_password] [nvarchar](50) NULL,
	[customer_phone] [nvarchar](50) NULL,
	[customer_region] [nvarchar](30) NULL,
	[customer_address] [nvarchar](100) NULL,
	[customer_birth_date] [nvarchar](30) NULL,
	[customer_gender] [nvarchar](10) NULL,
	[customer_creat_timestamp] [nvarchar](50) NULL,
	[customer_update_timestamp] [nvarchar](50) NULL,
 CONSTRAINT [PK_會員] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[details]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[details](
	[details_id] [int] NOT NULL,
	[eventtime] [nvarchar](50) NULL,
	[event_id] [int] NULL,
	[state] [nvarchar](20) NULL,
	[reason] [nvarchar](1000) NULL,
 CONSTRAINT [PK_detail] PRIMARY KEY CLUSTERED 
(
	[details_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluation_form]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluation_form](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[commodity_id] [int] NULL,
	[number_id] [int] NULL,
	[rate] [int] NULL,
	[evaluation_time] [nvarchar](50) NULL,
	[isstate] [bit] NULL,
 CONSTRAINT [PK_evaluation_form] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[event_image] [nvarchar](50) NULL,
	[event_name] [nvarchar](50) NULL,
	[event_info] [nvarchar](max) NULL,
	[company_id] [int] NULL,
	[event_sell_start_timestamp] [nvarchar](50) NULL,
	[event_sell_end_timestamp] [nvarchar](50) NULL,
	[event_start_timestamp] [nvarchar](50) NULL,
	[event_end_timestamp] [nvarchar](50) NULL,
	[event_type_id] [int] NULL,
	[event_location_id] [int] NULL,
	[event_isstate] [bit] NULL,
 CONSTRAINT [PK_活動表] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_collect]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_collect](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[event_id] [int] NULL,
	[customer_id] [int] NULL,
 CONSTRAINT [PK_加入收藏] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_location]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_location](
	[event_location_id] [int] IDENTITY(1,1) NOT NULL,
	[event_location_name] [nvarchar](50) NULL,
	[event_location_image] [nvarchar](50) NULL,
	[event_location_info] [nvarchar](max) NULL,
	[event_location_address] [nvarchar](50) NULL,
	[event_location_isstate] [bit] NULL,
 CONSTRAINT [PK_活動地點] PRIMARY KEY CLUSTERED 
(
	[event_location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_type]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_type](
	[event_type_id] [int] IDENTITY(1,1) NOT NULL,
	[event_type_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_活動分類] PRIMARY KEY CLUSTERED 
(
	[event_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_form]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_form](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number_id] [int] NULL,
	[commodity_id] [int] NULL,
	[order_time] [nvarchar](50) NULL,
	[quantity_order] [int] NULL,
	[isState] [bit] NULL,
	[isCart] [bit] NULL,
 CONSTRAINT [PK_order_form] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_main]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_main](
	[id] [int] NOT NULL,
	[shopping_id] [int] NULL,
	[order_form] [int] NULL,
	[member_id] [int] NULL,
 CONSTRAINT [PK_訂單主表] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seat]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[event_id] [int] NULL,
	[area] [nvarchar](50) NULL,
	[seat_id] [int] NULL,
	[price] [money] NULL,
	[is_available] [bit] NULL,
 CONSTRAINT [PK_seat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seat_price]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seat_price](
	[seat_type_id] [int] IDENTITY(1,1) NOT NULL,
	[seat_price] [int] NULL,
 CONSTRAINT [PK_座位價格] PRIMARY KEY CLUSTERED 
(
	[seat_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seat_stock]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seat_stock](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[event_id] [int] NOT NULL,
	[area] [nvarchar](50) NULL,
	[quantity] [int] NULL,
	[stock] [int] NULL,
	[sold] [int] NULL,
	[price] [money] NULL,
	[is_available] [bit] NULL,
 CONSTRAINT [PK_seat_count] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket_order]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket_order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[order_total_price] [money] NULL,
	[order_create_timestamp] [nvarchar](100) NULL,
	[order_update_timestamp] [nvarchar](100) NULL,
	[order_update_id] [int] NULL,
	[order_state] [int] NULL,
	[customer_id] [int] NULL,
 CONSTRAINT [PK_ticket_order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket_order_detail]    Script Date: 2023/3/31 09:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket_order_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[event_id] [int] NULL,
	[area] [nvarchar](50) NULL,
	[seat_id] [int] NULL,
	[customer_id] [int] NULL,
 CONSTRAINT [PK_ticket_order_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[administrators] ON 

INSERT [dbo].[administrators] ([administrator_id], [administrator_account], [administrator_password], [administrator_creat_timestamp], [administrator_update_timestamp]) VALUES (1, N'aaa', N'222', N'2023-02-03 上午 09:33:25', N'2023-02-03 上午 09:33:25')
INSERT [dbo].[administrators] ([administrator_id], [administrator_account], [administrator_password], [administrator_creat_timestamp], [administrator_update_timestamp]) VALUES (2, N'admin', N'111', N'2023-02-03 上午 09:33:25', N'2023-02-03 上午 09:33:25')
INSERT [dbo].[administrators] ([administrator_id], [administrator_account], [administrator_password], [administrator_creat_timestamp], [administrator_update_timestamp]) VALUES (3, N'abc', N'123', N'2023-02-03 上午 09:33:25', N'2023-02-03 上午 09:33:25')
SET IDENTITY_INSERT [dbo].[administrators] OFF
GO
SET IDENTITY_INSERT [dbo].[advertisement] ON 

SET IDENTITY_INSERT [dbo].[advertisement] OFF
GO
INSERT [dbo].[announcement] ([aid], [announcement_type], [content_title], [content_time], [content], [details_id]) VALUES (1, N'系統公告', N'系統維護公告', N'2023-03-20', N'因系統進行升級維護，聞意青年網站購票、全家購票及取票將於 2023/3/26 (日)、3/28 (二) 06:00 ~ 07:00 暫停服務，若提早維護完畢將直接開啟所有服務功能，造成不便敬請見諒
', NULL)
INSERT [dbo].[announcement] ([aid], [announcement_type], [content_title], [content_time], [content], [details_id]) VALUES (2, N'系統公告', N'預防詐騙提醒', N'2022-02-03', N'聞意售票系統預防詐騙提醒 ＊ 近日詐騙集團猖獗, 假借各大購物網站(通常是大陸口音)名義, 並竄改來電顯示偽裝成該公司或銀行的電話號碼, 
以慣用伎倆佯稱訂單轉帳,授權,分期,送貨簽收,結賬,等錯誤問題, 恐嚇會被連續扣款, 若不從, 歹徒就再恐嚇, 這表示自動放棄權益, 並有錄音存證等語,
 然後再假藉銀行人員或警察再打來(同樣竄改來電顯示), 要求到ATM提款機取消連續扣款設定..等語, 實際卻是可惡的轉帳詐騙手法, 請大家小心提防
', NULL)
INSERT [dbo].[announcement] ([aid], [announcement_type], [content_title], [content_time], [content], [details_id]) VALUES (3, N'系統公告', N'營業時間公告', N'2023-03-28', N'112年兒童節與民族掃墓節(清明節)假期自04月01日(六)至04月05日(三)，共計五日，電話客服及線上客服亦暫停。如需辦理相關業務，請於04月06日(四)上班時間再行前往。造成您的不便，敬請見諒，謝謝您！
', NULL)
GO
SET IDENTITY_INSERT [dbo].[commodity] ON 

INSERT [dbo].[commodity] ([id], [commodity_name], [commodity_narrative], [commodity_num], [commodity_price], [commodity_image], [commodity_start], [commodity_sort], [commodity_sale], [commodity_Classification], [commodity_state]) VALUES (1, N'光之影海洋展-經典背袋(深藍)', N'◎魔術大空間，裝下你的一天所需用品\\n◎精緻印刷，安心使用不掉色\\n◎高強度耐磨帆布，堅固耐操功能十足\\n◎材質：高強度耐磨帆布\\n◎尺寸：35X39 cm', 500, 590.0000, N'f64e1626-8f57-47c2-86f6-9ee2a331b071.png', N'2022/1/19 上午 09:59:05', 999, 10, N'禮物', 0)
INSERT [dbo].[commodity] ([id], [commodity_name], [commodity_narrative], [commodity_num], [commodity_price], [commodity_image], [commodity_start], [commodity_sort], [commodity_sale], [commodity_Classification], [commodity_state]) VALUES (2, N'藝術自動折傘-光之影海洋展', N'◎尺寸｜23吋大傘面；收納時全長28公分//n◎傘架｜實心支架、防風抗斷//n◎傘骨｜8K玻璃纖維傘骨，更強韌、更有彈性，抗風加倍//n◎傘布｜雙層黑膠傘布、多塗層工藝布色牢、高效防潑、甩即瞬乾、不透光可抗紫外線、降溫8度可達防曬率99.9%', 99, 790.0000, N'2cf3876f-a1b5-4fd8-9db0-7223ceffa73b.png', N'2019/10/23 上午 09:59:05', 500, 5, N'禮物', 1)
INSERT [dbo].[commodity] ([id], [commodity_name], [commodity_narrative], [commodity_num], [commodity_price], [commodity_image], [commodity_start], [commodity_sort], [commodity_sale], [commodity_Classification], [commodity_state]) VALUES (3, N'光之影海洋展-經典背袋(白)', N'◎魔術大空間，裝下你的一天所需用品\\n◎精緻印刷，安心使用不掉色\\n◎高強度耐磨帆布，堅固耐操功能十足\\n◎材質：高強度耐磨帆布\\n◎尺寸：35X39 cm', 15, 590.0000, N'fe91ddb4-7645-4c3f-92be-f2afc920cdfc.png', N'2017/12/3 上午 09:59:05', 800, 9, N'禮物', 1)
SET IDENTITY_INSERT [dbo].[commodity] OFF
GO
SET IDENTITY_INSERT [dbo].[company] ON 

INSERT [dbo].[company] ([id], [company_id], [company_name], [company_phone], [company_address], [company_email], [company_online]) VALUES (1, 1, N'星光影業                                              ', N'02-35853109                                       ', N'台北市                                               ', N'bigcompany@gmail.com                              ', 1)
INSERT [dbo].[company] ([id], [company_id], [company_name], [company_phone], [company_address], [company_email], [company_online]) VALUES (1001, 2, N'藍海媒體                                              ', N'02-80172217                                       ', N'台北市大同區延平北路二段16巷29號                                ', N'bsw93300@omeie.com                                ', 1)
INSERT [dbo].[company] ([id], [company_id], [company_name], [company_phone], [company_address], [company_email], [company_online]) VALUES (1002, 3, N'無盡製作                                              ', N'07-9725181                                        ', N'高雄市鼓山區西藏街112巷23號                                  ', N'eti14078@nezid.com                                ', 1)
SET IDENTITY_INSERT [dbo].[company] OFF
GO
SET IDENTITY_INSERT [dbo].[contactPerson] ON 

INSERT [dbo].[contactPerson] ([id], [contactperson_name], [contactperson_title], [contactperson_phone], [contactperson_email], [company_id], [contactperson_online]) VALUES (1, N'蔡姝美                                               ', N'行銷專員                                              ', N'0954295680                                        ', N'hemsworth2935@outlook.com                         ', 1, 1)
INSERT [dbo].[contactPerson] ([id], [contactperson_name], [contactperson_title], [contactperson_phone], [contactperson_email], [company_id], [contactperson_online]) VALUES (2, N'朱泓泰                                               ', N'品牌經理                                              ', N'0930894692                                        ', N'paul1798@gmail.com                                ', 2, 1)
INSERT [dbo].[contactPerson] ([id], [contactperson_name], [contactperson_title], [contactperson_phone], [contactperson_email], [company_id], [contactperson_online]) VALUES (3, N'張東然                                               ', N'社群媒體專員                                            ', N'0939432982                                        ', N'rogers2970@yahoo.com                              ', 3, 1)
SET IDENTITY_INSERT [dbo].[contactPerson] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([customer_id], [customer_name], [customer_email], [customer_password], [customer_phone], [customer_region], [customer_address], [customer_birth_date], [customer_gender], [customer_creat_timestamp], [customer_update_timestamp]) VALUES (1, N'孫怡文', N'ms0355995@gmial.com', N'58Aer#$cd', N'0912-345-678', N'台南市', N'東區林森路135巷54號', N'1992-07-15', N'F', N'2023-02-03 上午 09:23:03', N'2023-03-27 上午 11:48:04')
INSERT [dbo].[customers] ([customer_id], [customer_name], [customer_email], [customer_password], [customer_phone], [customer_region], [customer_address], [customer_birth_date], [customer_gender], [customer_creat_timestamp], [customer_update_timestamp]) VALUES (2, N'王小明', N'ming@gmail.com', N'12Afe#$f', N'0988-445-117', N'桃園市', N'大園區航站南路9號', N'2008-02-20', N'M', N'2023-02-03 上午 09:23:03', N'2023-03-27 上午 11:48:04')
INSERT [dbo].[customers] ([customer_id], [customer_name], [customer_email], [customer_password], [customer_phone], [customer_region], [customer_address], [customer_birth_date], [customer_gender], [customer_creat_timestamp], [customer_update_timestamp]) VALUES (3, N'林宜娟', N'yuan@yahoo.com.tw', N'58Aer#$cd', N'0911-223-334', N'台中市', N'北屯區北科路2號 ', N'1998-07-16', N'F', N'2023-02-03 下午 04:15:27', N'2023/3/13 上午 10:56:24')
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
INSERT [dbo].[details] ([details_id], [eventtime], [event_id], [state], [reason]) VALUES (1, N'2022-09-21', 3, N'延期', N'尊敬的顧客您好，

非常感謝您對我們活動的關注和支持。由於最近的疫情和天氣情況，我們不得不延期原定於本週舉行的活動，以確保所有參與者的健康和安全。

我們深感抱歉，這個決定將對您造成不便。我們非常重視您的參與，因此我們會盡力安排一個更加優質的活動，以補償您的等待和支持。

我們將盡快宣布活動的新日期，並在適當的時間內提供更多詳細信息。如果您有任何疑問或需要進一步的協助，請隨時與我們聯繫，我們的團隊將竭誠為您服務。

再次感謝您的支持和理解。希望您和您的家人和朋友保持健康和安全。')
INSERT [dbo].[details] ([details_id], [eventtime], [event_id], [state], [reason]) VALUES (2, N'2023-02-02', 1, N'延期', N'親愛的朋友們，

我們很抱歉地通知大家，原定於本週末舉行的活動將會延期。這個決定並不是我們輕易做出的，但我們認為這是必要的，因為表演者在排練中受傷了。

我們非常感謝所有人的支持和熱情參與，我們知道很多人已經期待著這次的活動。但是，在這個情況下，我們必須為表演者的健康和安全負責任。

我們正在努力安排一個新的日期，讓這次活動能夠順利舉行。我們將盡快公佈新的日期和時間，以及如何退換票的詳細信息。

我們深刻理解這個消息對於已經購票並且打算參加這次活動的朋友們所造成的不便和失望。我們希望您能夠理解，我們所做的一切都是為了確保這次活動的成功和所有參與者的安全。

感謝您的耐心和支持，我們期待在不久的將來與您再次相見。

活動籌備團隊')
INSERT [dbo].[details] ([details_id], [eventtime], [event_id], [state], [reason]) VALUES (3, N'2022-04-15', 2, N'取消', N'很抱歉地通知大家，由於未能預料到的情況，原定於本月舉行的活動已經被取消。我們對造成的不便深表歉意，並希望您能理解我們的決定。

我們將盡快與您聯繫，以安排相關的退款事宜。如果您有任何疑問或需要進一步的說明，請隨時聯繫我們的客戶服務部門。再次感謝您對我們活動的支持和理解。')
GO
SET IDENTITY_INSERT [dbo].[evaluation_form] ON 

INSERT [dbo].[evaluation_form] ([id], [commodity_id], [number_id], [rate], [evaluation_time], [isstate]) VALUES (1, 1, 2, 4, NULL, 1)
INSERT [dbo].[evaluation_form] ([id], [commodity_id], [number_id], [rate], [evaluation_time], [isstate]) VALUES (2, 1, 3, 3, NULL, 1)
SET IDENTITY_INSERT [dbo].[evaluation_form] OFF
GO
SET IDENTITY_INSERT [dbo].[event] ON 

INSERT [dbo].[event] ([event_id], [event_image], [event_name], [event_info], [company_id], [event_sell_start_timestamp], [event_sell_end_timestamp], [event_start_timestamp], [event_end_timestamp], [event_type_id], [event_location_id], [event_isstate]) VALUES (1, N'9e609ffa-b73e-43eb-a886-a34ae788e587.jpg', N'The Band', N'起源於美國的南部地區。搖滾樂的特點是節奏強烈、旋律流暢、吉他獨奏和激情演唱。這種音樂風格從誕生到現在，已經發展出了各種各樣的風格和次風格，其中包括硬式搖滾、藍調搖滾、龐克搖滾、重金屬搖滾等等。 ', 1, N'2023/3/23 19:00:00', N'2023/4/28 19:00:00', N'2023/4/13 19:00:00', N'2023/4/26 19:00:00', 1, 2, 1)
INSERT [dbo].[event] ([event_id], [event_image], [event_name], [event_info], [company_id], [event_sell_start_timestamp], [event_sell_end_timestamp], [event_start_timestamp], [event_end_timestamp], [event_type_id], [event_location_id], [event_isstate]) VALUES (2, N'd4958166-b3f4-44ce-ad62-5f98a64b2e66.jpg', N'Friday', N'Friday，翻譯為中文就是「星期五」，是一個讓人感到興奮和期待的日子。對於許多人來說，星期五代表著工作或學校的一周即將結束，即將迎來一個放鬆和愉快的週末。', 2, N'2023/1/23 19:00:00', N'2023/1/28 19:00:00', N'2023/1/29 19:00:00', N'2023/1/31 19:00:00', 1, 2, 1)
INSERT [dbo].[event] ([event_id], [event_image], [event_name], [event_info], [company_id], [event_sell_start_timestamp], [event_sell_end_timestamp], [event_start_timestamp], [event_end_timestamp], [event_type_id], [event_location_id], [event_isstate]) VALUES (3, N'3795cdd6-f6bf-4952-be0c-fac92ac96f4e.jpg', N'Georgia', N'Georgia是美國第13個州，成立於1788年。這個州擁有豐富的歷史和文化，是美國南方的一個重要的州。Georgia擁有許多受歡迎的旅遊景點，包括亞特蘭大市、喬治亞海岸、喬治亞山脈、薩凡納市等等。', 3, N'2023/1/23 19:00:00', N'2023/1/23 19:00:00', N'2023/1/23 19:00:00', N'2023/1/23 22:00:00', 1, 2, 1)
SET IDENTITY_INSERT [dbo].[event] OFF
GO
SET IDENTITY_INSERT [dbo].[event_collect] ON 

INSERT [dbo].[event_collect] ([id], [event_id], [customer_id]) VALUES (4, 1, 2)
SET IDENTITY_INSERT [dbo].[event_collect] OFF
GO
SET IDENTITY_INSERT [dbo].[event_location] ON 

INSERT [dbo].[event_location] ([event_location_id], [event_location_name], [event_location_image], [event_location_info], [event_location_address], [event_location_isstate]) VALUES (1, N'國家音樂廳', N'10aa7187-639a-4e52-8840-c8c4ed946645.jpg', N'內有兩個表演空間，分別是採「鞋盒式」設計的音樂廳 ( 2022席，含14個輪椅席）、演奏廳（354席，含4個輪椅席），皆具國際級頂尖音場設計。', N'臺北市中正區中山南路21-1號', 1)
INSERT [dbo].[event_location] ([event_location_id], [event_location_name], [event_location_image], [event_location_info], [event_location_address], [event_location_isstate]) VALUES (2, N'臺北小巨蛋 ', N'0a1b6a40-a264-478f-8a14-0e52a909474a.jpg', N'臺北小巨蛋是多功能體育館，坐落於南京東路及敦化北路交叉口。除了提供體育競賽場地之外，亦經常舉辦演唱會、頒獎典禮等大型文藝活動，為臺灣娛樂業界的指標場所之一。', N'臺北市松山區南京東路四段2號', 1)
INSERT [dbo].[event_location] ([event_location_id], [event_location_name], [event_location_image], [event_location_info], [event_location_address], [event_location_isstate]) VALUES (3, N'臺北國際會議中心TICC', N'ab31a9db-16bb-43ea-ac8e-a2bb68e569f1.jpg', N'TICC除了提供工商界租用此建築進行各類型會議與展覽以外，也有設置餐廳及大會堂，是一項多功能的展會建築。', N'台北市信義區信義路五段1號', 1)
SET IDENTITY_INSERT [dbo].[event_location] OFF
GO
SET IDENTITY_INSERT [dbo].[event_type] ON 

INSERT [dbo].[event_type] ([event_type_id], [event_type_name]) VALUES (1, N'演唱會')
INSERT [dbo].[event_type] ([event_type_id], [event_type_name]) VALUES (2, N'音樂會')
INSERT [dbo].[event_type] ([event_type_id], [event_type_name]) VALUES (3, N'戲劇')
SET IDENTITY_INSERT [dbo].[event_type] OFF
GO
SET IDENTITY_INSERT [dbo].[order_form] ON 

INSERT [dbo].[order_form] ([id], [number_id], [commodity_id], [order_time], [quantity_order], [isState], [isCart]) VALUES (40, 2, 1, N'2023/3/24 下午 02:15:07', 14, 0, 1)
INSERT [dbo].[order_form] ([id], [number_id], [commodity_id], [order_time], [quantity_order], [isState], [isCart]) VALUES (41, 2, 2, N'2023/3/24 下午 02:17:15', 4, 0, 1)
SET IDENTITY_INSERT [dbo].[order_form] OFF
GO
SET IDENTITY_INSERT [dbo].[seat] ON 

INSERT [dbo].[seat] ([id], [event_id], [area], [seat_id], [price], [is_available]) VALUES (1, 1, N'A', 1, 1000.0000, 0)
INSERT [dbo].[seat] ([id], [event_id], [area], [seat_id], [price], [is_available]) VALUES (2, 1, N'A', 2, 1000.0000, 0)
INSERT [dbo].[seat] ([id], [event_id], [area], [seat_id], [price], [is_available]) VALUES (3, 1, N'A', 3, 1000.0000, 1)
SET IDENTITY_INSERT [dbo].[seat] OFF
GO
SET IDENTITY_INSERT [dbo].[seat_stock] ON 

INSERT [dbo].[seat_stock] ([id], [event_id], [area], [quantity], [stock], [sold], [price], [is_available]) VALUES (4, 1, N'搖滾區', 40, 32, 8, 3500.0000, 1)
INSERT [dbo].[seat_stock] ([id], [event_id], [area], [quantity], [stock], [sold], [price], [is_available]) VALUES (5, 1, N'一般區', 50, 42, 8, 2200.0000, 1)
INSERT [dbo].[seat_stock] ([id], [event_id], [area], [quantity], [stock], [sold], [price], [is_available]) VALUES (6, 1, N'站區', 100, 92, 8, 1500.0000, 1)
SET IDENTITY_INSERT [dbo].[seat_stock] OFF
GO
SET IDENTITY_INSERT [dbo].[ticket_order] ON 

INSERT [dbo].[ticket_order] ([id], [order_id], [order_total_price], [order_create_timestamp], [order_update_timestamp], [order_update_id], [order_state], [customer_id]) VALUES (57, 2023038054, 7200.0000, N'2023/3/29 12:03:10', N'2023/3/29 12:03:10', 0, 0, 1031)
INSERT [dbo].[ticket_order] ([id], [order_id], [order_total_price], [order_create_timestamp], [order_update_timestamp], [order_update_id], [order_state], [customer_id]) VALUES (58, 2023037399, 7200.0000, N'2023/3/29 12:03:24', N'2023/3/29 12:03:24', 0, 0, 1031)
INSERT [dbo].[ticket_order] ([id], [order_id], [order_total_price], [order_create_timestamp], [order_update_timestamp], [order_update_id], [order_state], [customer_id]) VALUES (59, 2023037879, 7200.0000, N'2023/3/29 12:12:12', N'2023/3/29 12:12:12', 0, 2, 2)
SET IDENTITY_INSERT [dbo].[ticket_order] OFF
GO
SET IDENTITY_INSERT [dbo].[ticket_order_detail] ON 

INSERT [dbo].[ticket_order_detail] ([id], [order_id], [event_id], [area], [seat_id], [customer_id]) VALUES (114, 2023038054, 1, N'搖滾區', 1, 1031)
INSERT [dbo].[ticket_order_detail] ([id], [order_id], [event_id], [area], [seat_id], [customer_id]) VALUES (115, 2023038054, 1, N'一般區', 1, 1031)
INSERT [dbo].[ticket_order_detail] ([id], [order_id], [event_id], [area], [seat_id], [customer_id]) VALUES (116, 2023038054, 1, N'站區', 1, 1031)
SET IDENTITY_INSERT [dbo].[ticket_order_detail] OFF
GO
